{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет!</h1>
<p>
  Меня зовут Овчарук Дмитрий, я ученик 17 когорты
  Яндекс.Практикума и я автор этого сайта!
</p>
<p>
  Это мой первый проект и первый опыт в программировании,
  поэтому прошу относиться к сайту снисходительно))))
</p>
<p>
  Сайт будет улучшаться и развиваться. Если ты хочешь поучавствовать в этом,
  то присылай свои предложения на мою почту.
</p>
<p>
  Мои контакты:
  <ul>
    <li>
      Почта: ovcharukdmitrij@ya.ru
    </li>
    <li>
      GitHub: github.com/OvcharukDmitrij
    </li>
    <li>
      Резюме на hh.ru:
    </li>
  </ul>
</p>
{% endblock %}