{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h2>Вот что я использовал в этом проекте:</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <h4>
        <p><li>Python</li></p>
        <p><li>Django</li></p>
        <p><li>SQLite3</li></p>
        <p><li>Html</li></p>
        <p><li>GitHub</li></p>
        <p> <li>И сотни страниц информации в интернете)))</li></p>
      </h4>
    </ul>
  </aside>
<!--  <article class="col-12 col-md-9">-->
<!--    <p>Текст страницы "Технологии"</p>-->
<!--  </article>-->
</div>
{% endblock %}